@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;



}

body {
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(to right, #ffffff, #c0c0c0);
    background: linear-gradient(to right, #ffffff, #c0c0c0);
    z-index: -1; 
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    width: 100%;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    color: #eee;
    height: 80px;
    position: fixed;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: +1;
}

#preencher{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 90%;
    transform: translate(-50% -50%);
}

#navbar-items li {

    display: grid;
    grid-template-columns: repeat(8, 250px );
    list-style-type: none;
    padding: 15px;
    text-align: start;
    font-weight: bold;
}
.inputs2{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 10px;
    text-align: center;


}

#preencher-title{
    position:absolute;
    left:10px;
    top:10px;

    font-weight: bold;
    z-index: -1;
}

.botao{
    
    position: absolute;
    left: 38%;
    top: 10%;
    font-weight: bold;
    z-index: -1;
}
.botao:hover{
    background: linear-gradient(to right, #1a1919, #505050); 
}
.resultados{
    position: absolute;
    top: 50%;
    left: 43.5%;
    font-size: 20px;
    font-weight: bold;
    z-index: -1;

}
.resultados-MP{
    position: absolute;
    left: 39.5%;
    top: 100%;
    font-size: 20px;
    font-weight: bold;
    z-index: -1;

}

.logo {
    position: fixed;
    left: 05%;
    top: 00%;
    width: 80px;
    height: 80px;
    align-items: center;
    
}


#navbar-items li{
    display: grid;
    grid-column-gap: 50px;
    padding: 15px;
    text-align: center;

    
}
.text-logo{
    position: fixed;
    top: 05%;
    left: 50%;
    text-align: center;
    font-size: 20px;
    transform: translate(-50%, -50%);

    
}
.inputs{
    border-radius: 15px;
}

.valor_share{
    position: absolute;
    top: 55%;
    left: 10%;
    width: 220px;
    height: 30px;
    background: none;
    color: #eee;
    border: none;
    font-size: 20px;

}

.valor_TOTAL{
    position: absolute;
    top: 55%;
    left: 33%;
    width: 300px;
    height: 30px;
    background: none;
    color: #eee;
    border: none;
    font-size: 25px;
    text-align: center;

}

.carteira{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30px;
    height: 30px;
    background: none;
    color: #eee;
    

}
.TOTAL{
    position: absolute;
    top: 10%;
    left: 03%;
    width: 30px;
    height: 30px;
    background: none;
    color: #eee;
    

}
.titulo_share{
    position: absolute;
    top: 15%;
    left: 45%;
    color: #eee;
    font-size: 15px;


}
.titulo_TOTAL{
    position: absolute;
    top: 15%;
    left: 40%;
    color: #eee;
    font-size: 15px;


}

.bloco1{
    position: absolute;
    top: 60%;
    left: 20%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152);     border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}
.bloco1-mp{
    position: absolute;
    top: 110%;
    left: 20%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}

.bloco2{
    position: absolute;
    top: 60%;
    left: 40%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}
.bloco2-mp{
    position: absolute;
    top: 110%;
    left: 40%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}

.bloco3{
    position: absolute;
    top: 60%;
    left: 60%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}
.bloco3-mp{
    position: absolute;
    top: 110%;
    left: 60%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}

.bloco4{
    position: absolute;
    top: 80%;
    left: 60%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}
.bloco4-mp{
    position: absolute;
    top: 130%;
    left: 60%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}


.bloco5{
    position: absolute;
    top: 80%;
    left: 40%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}

.bloco5-mp{
    position: absolute;
    top: 130%;
    left: 40%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}

.bloco6{
    position: absolute;
    top: 80%;
    left: 20%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}

.bloco6-mp{
    position: absolute;
    top: 130%;
    left: 20%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}

.bloco7-mp{
    position: absolute;
    top: 180%;
    left: 0%;
    width: 1000px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #1e2d6d, #162152);
    background: linear-gradient(to right, #1e2d6d, #162152); 
    border-radius: 15px;
    padding: 15px;
    z-index: -1;
    

}

#footer{
    position: absolute;
    top: 330%;
    left: 120%;
    text-align: center;
    font-weight: bold;
    padding: 05px;
    font-size: 12px;
    height: 50PX;
    width: 300PX;
}

.loading{
    position: fixed;
    top: 40%;
    left: 45%;
    
}
#comentario{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
